*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    top: 0;
}






h1{
    color: white;
    font-weight: 800;
}


.opciones{
    display: flex;
    gap: 30px;
    
}

#opc{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    transition: all 0.9s ease;
    
}

#opc:hover{
    background-color: grey;
    border-radius: 10px;
}

section{
    flex: 1;
    margin-top: 4rem;
    margin-right: 20px;
    padding-bottom: 2rem;
    padding: 0 20px;
}

.castillo{
    flex-basis: 500px;
    flex-grow: 1;
    margin-top: 15px;
    border-bottom: 2px solid black;
}

.parrafos, .parrafos2{

   width: 100%;
   padding: 8px 8px;
}

.piedra{
    flex-basis: 500px;
    flex-grow: 1;
    margin-top: 15px;
    border-bottom: 2px solid black;
}

.parrafos3, .parrafos4{
   padding: 8px 8px;
}

.Articulo2{
    margin-top: 4rem;

}

main{
    display: flex;
    margin: auto;
    align-items: flex-start;
    max-width: 700px;
}


.castillo1, .piedra2{

   width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px 20px;
    align-items: flex-start;
    margin-top: 4rem;
    position: unset
    
}

@media screen and (max-width: 400px){
    main {
       flex-direction: column-reverse;
    }
}


@media screen and (max-width: 340px){
    button#menu{
       display: block;
    }
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu{
    height: 50px;
    background-color: transparent;
    border: none;
    display: none;
    border-radius: 20px;
    padding: 0px 20px;
}

#menu:hover{
    background-color: rgb(189, 186, 186);
}

@media screen and (max-width: 340px){
    .opciones{
       display: none;    
    }

    header.open .opciones {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }
}

@media screen and (max-width: 340px){
    header.open{
        flex-direction: column;
        height: 100vh;
        padding: 0px 1rem;
       
    }
}

.links{
    display: none;


}

@media screen and (max-width: 340px){
    header.links{
        
        
       
    }
}
