*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    width: 100%;
    padding: 0px 20px;
}

h1{
    color: white;
    font-weight: 800;
}


.opciones{
    display: flex;
    gap: 30px;
    
}

#opc{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    transition: all 0.9s ease;
    
}

#opc:hover{
    background-color: grey;
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    padding-bottom: 2rem;
    padding: 0 10px;
}

.castillo{
    flex-basis: 500px;
    margin-top: 15px;
    border-bottom: 2px solid black;
}

.parrafos, .parrafos2{

   width: 100%;
   padding: 8px 8px;
}

.piedra{
    flex-basis: 500px;
    margin-top: 15px;
    border-bottom: 2px solid black;
}

.parrafos3, .parrafos4{
   padding: 8px 8px;
}

.Articulo2{
    margin-top: 4rem;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.castillo1, .piedra2{

   width: 100%;
}
