*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    max-width: 100%;
    padding: 0px 20px;
}

h1{
    color: white;
    font-weight: 800;
}


.opciones{
    display: flex;
    gap: 30px;
    
}

#opc{
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    transition: all 0.9s ease;
    
}

#opc:hover{
    background-color: grey;
    border-radius: 10px;
}

